@charset "utf-8";
.wsapiwp_body{
width:100%;
}
.wsapiwp_content_left{
width:80%;
float:left;
}
.wsapiwp_content_left textarea{
width:100%;
}
.wsapiwp_content_right{
width:20%;
text-align:center;
float:left;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}